head
  meta(charset='utf-8')
  title= pageTitle
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  // Place favicon.ico and apple-touch-icon.png in the root directory 
  // build:css styles/vendor.css 
  // bower:css 
  // endbower 
  // endbuild 
  // build:css styles/main.css 
  link(rel='stylesheet', href='styles/main.css')
  // endbuild 
  // build:js scripts/vendor/modernizr.js 
  script(src='bower_components/modernizr/modernizr.js')
  // endbuild 
