extends layout
block config
  include inc/config
block header
  ul.nav.nav-pills.pull-right
    li.active
      a(href='#') Home
    li
      a(href='#') About
    li
      a(href='#') Contact
  h3.text-muted #{pageTitle}
block content
  .jumbotron
    h1 'Allo, 'Allo!
    p.lead Always a pleasure scaffolding your apps.
    p
      a.btn.btn-lg.btn-success(href='#') Splendid!
  .row.marketing
    .col-lg-6
      h4 HTML5 Boilerplate
      p
        | HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
      h4 Sass
      p
        | Sass is the most mature, stable, and powerful professional grade CSS extension language in the world.
      h4 Bootstrap
      p
        | Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.
      h4 Modernizr
      p
        | Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites.
  .row.fontawesome
    section.hidden-print
    .stripe-ad
        #carbonads-container
          .carbonad
            #azcarbon
            script(type='text/javascript')
              var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32291/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);
        p.lead
          | Print this page to PDF for the complete set of vectors. Or to use on the desktop, install FontAwesome.otf, set it as the font in your application, and copy and paste the icons (not the unicode) directly from this page into your designs.
    h2.page-header Every Font Awesome 4.1.0 Icon, CSS Class, & Unicode
    .row
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-adjust
        span.muted='[&#xf042;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-adn
        span.muted='[&#xf170;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-align-center
        span.muted='[&#xf037;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-align-justify
        span.muted='[&#xf039;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-align-left
        span.muted='[&#xf036;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-align-right
        span.muted='[&#xf038;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ambulance
        span.muted='[&#xf0f9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-anchor
        span.muted='[&#xf13d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-android
        span.muted='[&#xf17b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-double-down
        span.muted='[&#xf103;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-double-left
        span.muted='[&#xf100;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-double-right
        span.muted='[&#xf101;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-double-up
        span.muted='[&#xf102;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-down
        span.muted='[&#xf107;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-left
        span.muted='[&#xf104;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-right
        span.muted='[&#xf105;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-angle-up
        span.muted='[&#xf106;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-apple
        span.muted='[&#xf179;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-archive
        span.muted='[&#xf187;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-down
        span.muted='[&#xf0ab;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-left
        span.muted='[&#xf0a8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-o-down
        span.muted='[&#xf01a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-o-left
        span.muted='[&#xf190;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-o-right
        span.muted='[&#xf18e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-o-up
        span.muted='[&#xf01b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-right
        span.muted='[&#xf0a9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-circle-up
        span.muted='[&#xf0aa;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-down
        span.muted='[&#xf063;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-left
        span.muted='[&#xf060;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-right
        span.muted='[&#xf061;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrow-up
        span.muted='[&#xf062;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrows
        span.muted='[&#xf047;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrows-alt
        span.muted='[&#xf0b2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrows-h
        span.muted='[&#xf07e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-arrows-v
        span.muted='[&#xf07d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-asterisk
        span.muted='[&#xf069;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-automobile
        span.text-muted (alias)
        span.muted='[&#xf1b9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-backward
        span.muted='[&#xf04a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ban
        span.muted='[&#xf05e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bank
        span.text-muted (alias)
        span.muted='[&#xf19c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bar-chart-o
        span.muted='[&#xf080;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-barcode
        span.muted='[&#xf02a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bars
        span.muted='[&#xf0c9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-beer
        span.muted='[&#xf0fc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-behance
        span.muted='[&#xf1b4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-behance-square
        span.muted='[&#xf1b5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bell
        span.muted='[&#xf0f3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bell-o
        span.muted='[&#xf0a2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bitbucket
        span.muted='[&#xf171;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bitbucket-square
        span.muted='[&#xf172;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bitcoin
        span.text-muted (alias)
        span.muted='[&#xf15a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bold
        span.muted='[&#xf032;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bolt
        span.muted='[&#xf0e7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bomb
        span.muted='[&#xf1e2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-book
        span.muted='[&#xf02d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bookmark
        span.muted='[&#xf02e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bookmark-o
        span.muted='[&#xf097;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-briefcase
        span.muted='[&#xf0b1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-btc
        span.muted='[&#xf15a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bug
        span.muted='[&#xf188;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-building
        span.muted='[&#xf1ad;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-building-o
        span.muted='[&#xf0f7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bullhorn
        span.muted='[&#xf0a1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-bullseye
        span.muted='[&#xf140;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cab
        span.text-muted (alias)
        span.muted='[&#xf1ba;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-calendar
        span.muted='[&#xf073;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-calendar-o
        span.muted='[&#xf133;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-camera
        span.muted='[&#xf030;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-camera-retro
        span.muted='[&#xf083;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-car
        span.muted='[&#xf1b9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-down
        span.muted='[&#xf0d7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-left
        span.muted='[&#xf0d9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-right
        span.muted='[&#xf0da;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-square-o-down
        span.muted='[&#xf150;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-square-o-left
        span.muted='[&#xf191;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-square-o-right
        span.muted='[&#xf152;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-square-o-up
        span.muted='[&#xf151;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-caret-up
        span.muted='[&#xf0d8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-certificate
        span.muted='[&#xf0a3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chain
        span.text-muted (alias)
        span.muted='[&#xf0c1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chain-broken
        span.muted='[&#xf127;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-check
        span.muted='[&#xf00c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-check-circle
        span.muted='[&#xf058;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-check-circle-o
        span.muted='[&#xf05d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-check-square
        span.muted='[&#xf14a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-check-square-o
        span.muted='[&#xf046;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-circle-down
        span.muted='[&#xf13a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-circle-left
        span.muted='[&#xf137;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-circle-right
        span.muted='[&#xf138;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-circle-up
        span.muted='[&#xf139;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-down
        span.muted='[&#xf078;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-left
        span.muted='[&#xf053;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-right
        span.muted='[&#xf054;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-chevron-up
        span.muted='[&#xf077;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-child
        span.muted='[&#xf1ae;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-circle
        span.muted='[&#xf111;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-circle-o
        span.muted='[&#xf10c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-circle-o-notch
        span.muted='[&#xf1ce;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-circle-thin
        span.muted='[&#xf1db;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-clipboard
        span.muted='[&#xf0ea;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-clock-o
        span.muted='[&#xf017;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cloud
        span.muted='[&#xf0c2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cloud-download
        span.muted='[&#xf0ed;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cloud-upload
        span.muted='[&#xf0ee;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cny
        span.text-muted (alias)
        span.muted='[&#xf157;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-code
        span.muted='[&#xf121;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-code-fork
        span.muted='[&#xf126;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-codepen
        span.muted='[&#xf1cb;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-coffee
        span.muted='[&#xf0f4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cog
        span.muted='[&#xf013;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cogs
        span.muted='[&#xf085;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-columns
        span.muted='[&#xf0db;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-comment
        span.muted='[&#xf075;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-comment-o
        span.muted='[&#xf0e5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-comments
        span.muted='[&#xf086;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-comments-o
        span.muted='[&#xf0e6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-compass
        span.muted='[&#xf14e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-compress
        span.muted='[&#xf066;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-copy
        span.text-muted (alias)
        span.muted='[&#xf0c5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-credit-card
        span.muted='[&#xf09d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-crop
        span.muted='[&#xf125;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-crosshairs
        span.muted='[&#xf05b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-css3
        span.muted='[&#xf13c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cube
        span.muted='[&#xf1b2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cubes
        span.muted='[&#xf1b3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cut
        span.text-muted (alias)
        span.muted='[&#xf0c4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-cutlery
        span.muted='[&#xf0f5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dashboard
        span.text-muted (alias)
        span.muted='[&#xf0e4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-database
        span.muted='[&#xf1c0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dedent
        span.text-muted (alias)
        span.muted='[&#xf03b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-delicious
        span.muted='[&#xf1a5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-desktop
        span.muted='[&#xf108;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-deviantart
        span.muted='[&#xf1bd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-digg
        span.muted='[&#xf1a6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dollar
        span.text-muted (alias)
        span.muted='[&#xf155;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dot-circle-o
        span.muted='[&#xf192;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-download
        span.muted='[&#xf019;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dribbble
        span.muted='[&#xf17d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-dropbox
        span.muted='[&#xf16b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-drupal
        span.muted='[&#xf1a9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-edit
        span.text-muted (alias)
        span.muted='[&#xf044;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-eject
        span.muted='[&#xf052;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ellipsis-h
        span.muted='[&#xf141;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ellipsis-v
        span.muted='[&#xf142;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-empire
        span.muted='[&#xf1d1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-envelope
        span.muted='[&#xf0e0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-envelope-o
        span.muted='[&#xf003;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-envelope-square
        span.muted='[&#xf199;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-eraser
        span.muted='[&#xf12d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-eur
        span.muted='[&#xf153;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-euro
        span.text-muted (alias)
        span.muted='[&#xf153;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-exchange
        span.muted='[&#xf0ec;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-exclamation
        span.muted='[&#xf12a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-exclamation-circle
        span.muted='[&#xf06a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-exclamation-triangle
        span.muted='[&#xf071;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-expand
        span.muted='[&#xf065;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-external-link
        span.muted='[&#xf08e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-external-link-square
        span.muted='[&#xf14c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-eye
        span.muted='[&#xf06e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-eye-slash
        span.muted='[&#xf070;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-facebook
        span.muted='[&#xf09a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-facebook-square
        span.muted='[&#xf082;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fast-backward
        span.muted='[&#xf049;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fast-forward
        span.muted='[&#xf050;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fax
        span.muted='[&#xf1ac;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-female
        span.muted='[&#xf182;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fighter-jet
        span.muted='[&#xf0fb;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file
        span.muted='[&#xf15b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-archive-o
        span.muted='[&#xf1c6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-audio-o
        span.muted='[&#xf1c7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-code-o
        span.muted='[&#xf1c9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-excel-o
        span.muted='[&#xf1c3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-image-o
        span.muted='[&#xf1c5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-movie-o
        span.text-muted (alias)
        span.muted='[&#xf1c8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-o
        span.muted='[&#xf016;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-pdf-o
        span.muted='[&#xf1c1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-photo-o
        span.text-muted (alias)
        span.muted='[&#xf1c5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-picture-o
        span.text-muted (alias)
        span.muted='[&#xf1c5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-powerpoint-o
        span.muted='[&#xf1c4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-sound-o
        span.text-muted (alias)
        span.muted='[&#xf1c7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-text
        span.muted='[&#xf15c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-text-o
        span.muted='[&#xf0f6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-video-o
        span.muted='[&#xf1c8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-word-o
        span.muted='[&#xf1c2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-file-zip-o
        span.text-muted (alias)
        span.muted='[&#xf1c6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-files-o
        span.muted='[&#xf0c5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-film
        span.muted='[&#xf008;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-filter
        span.muted='[&#xf0b0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fire
        span.muted='[&#xf06d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-fire-extinguisher
        span.muted='[&#xf134;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flag
        span.muted='[&#xf024;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flag-checkered
        span.muted='[&#xf11e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flag-o
        span.muted='[&#xf11d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flash
        span.text-muted (alias)
        span.muted='[&#xf0e7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flask
        span.muted='[&#xf0c3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-flickr
        span.muted='[&#xf16e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-floppy-o
        span.muted='[&#xf0c7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-folder
        span.muted='[&#xf07b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-folder-o
        span.muted='[&#xf114;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-folder-open
        span.muted='[&#xf07c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-folder-open-o
        span.muted='[&#xf115;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-font
        span.muted='[&#xf031;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-forward
        span.muted='[&#xf04e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-foursquare
        span.muted='[&#xf180;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-frown-o
        span.muted='[&#xf119;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gamepad
        span.muted='[&#xf11b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gavel
        span.muted='[&#xf0e3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gbp
        span.muted='[&#xf154;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ge
        span.text-muted (alias)
        span.muted='[&#xf1d1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gear
        span.text-muted (alias)
        span.muted='[&#xf013;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gears
        span.text-muted (alias)
        span.muted='[&#xf085;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gift
        span.muted='[&#xf06b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-git
        span.muted='[&#xf1d3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-git-square
        span.muted='[&#xf1d2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-github
        span.muted='[&#xf09b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-github-alt
        span.muted='[&#xf113;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-github-square
        span.muted='[&#xf092;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-gittip
        span.muted='[&#xf184;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-glass
        span.muted='[&#xf000;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-globe
        span.muted='[&#xf0ac;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-google
        span.muted='[&#xf1a0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-google-plus
        span.muted='[&#xf0d5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-google-plus-square
        span.muted='[&#xf0d4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-graduation-cap
        span.muted='[&#xf19d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-group
        span.text-muted (alias)
        span.muted='[&#xf0c0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-h-square
        span.muted='[&#xf0fd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hacker-news
        span.muted='[&#xf1d4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hand-o-down
        span.muted='[&#xf0a7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hand-o-left
        span.muted='[&#xf0a5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hand-o-right
        span.muted='[&#xf0a4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hand-o-up
        span.muted='[&#xf0a6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hdd-o
        span.muted='[&#xf0a0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-header
        span.muted='[&#xf1dc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-headphones
        span.muted='[&#xf025;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-heart
        span.muted='[&#xf004;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-heart-o
        span.muted='[&#xf08a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-history
        span.muted='[&#xf1da;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-home
        span.muted='[&#xf015;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-hospital-o
        span.muted='[&#xf0f8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-html5
        span.muted='[&#xf13b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-image
        span.text-muted (alias)
        span.muted='[&#xf03e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-inbox
        span.muted='[&#xf01c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-indent
        span.muted='[&#xf03c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-info
        span.muted='[&#xf129;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-info-circle
        span.muted='[&#xf05a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-inr
        span.muted='[&#xf156;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-instagram
        span.muted='[&#xf16d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-institution
        span.text-muted (alias)
        span.muted='[&#xf19c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-italic
        span.muted='[&#xf033;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-joomla
        span.muted='[&#xf1aa;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-jpy
        span.muted='[&#xf157;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-jsfiddle
        span.muted='[&#xf1cc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-key
        span.muted='[&#xf084;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-keyboard-o
        span.muted='[&#xf11c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-krw
        span.muted='[&#xf159;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-language
        span.muted='[&#xf1ab;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-laptop
        span.muted='[&#xf109;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-leaf
        span.muted='[&#xf06c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-legal
        span.text-muted (alias)
        span.muted='[&#xf0e3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-lemon-o
        span.muted='[&#xf094;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-level-down
        span.muted='[&#xf149;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-level-up
        span.muted='[&#xf148;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-life-bouy
        span.text-muted (alias)
        span.muted='[&#xf1cd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-life-ring
        span.muted='[&#xf1cd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-life-saver
        span.text-muted (alias)
        span.muted='[&#xf1cd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-lightbulb-o
        span.muted='[&#xf0eb;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-link
        span.muted='[&#xf0c1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-linkedin
        span.muted='[&#xf0e1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-linkedin-square
        span.muted='[&#xf08c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-linux
        span.muted='[&#xf17c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-list
        span.muted='[&#xf03a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-list-alt
        span.muted='[&#xf022;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-list-ol
        span.muted='[&#xf0cb;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-list-ul
        span.muted='[&#xf0ca;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-location-arrow
        span.muted='[&#xf124;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-lock
        span.muted='[&#xf023;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-long-arrow-down
        span.muted='[&#xf175;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-long-arrow-left
        span.muted='[&#xf177;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-long-arrow-right
        span.muted='[&#xf178;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-long-arrow-up
        span.muted='[&#xf176;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-magic
        span.muted='[&#xf0d0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-magnet
        span.muted='[&#xf076;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mail-forward
        span.text-muted (alias)
        span.muted='[&#xf064;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mail-reply
        span.text-muted (alias)
        span.muted='[&#xf112;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mail-reply-all
        span.text-muted (alias)
        span.muted='[&#xf122;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-male
        span.muted='[&#xf183;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-map-marker
        span.muted='[&#xf041;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-maxcdn
        span.muted='[&#xf136;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-medkit
        span.muted='[&#xf0fa;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-meh-o
        span.muted='[&#xf11a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-microphone
        span.muted='[&#xf130;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-microphone-slash
        span.muted='[&#xf131;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-minus
        span.muted='[&#xf068;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-minus-circle
        span.muted='[&#xf056;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-minus-square
        span.muted='[&#xf146;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-minus-square-o
        span.muted='[&#xf147;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mobile
        span.muted='[&#xf10b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mobile-phone
        span.text-muted (alias)
        span.muted='[&#xf10b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-money
        span.muted='[&#xf0d6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-moon-o
        span.muted='[&#xf186;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-mortar-board
        span.text-muted (alias)
        span.muted='[&#xf19d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-music
        span.muted='[&#xf001;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-navicon
        span.text-muted (alias)
        span.muted='[&#xf0c9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-openid
        span.muted='[&#xf19b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-outdent
        span.muted='[&#xf03b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pagelines
        span.muted='[&#xf18c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paper-plane
        span.muted='[&#xf1d8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paper-plane-o
        span.muted='[&#xf1d9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paperclip
        span.muted='[&#xf0c6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paragraph
        span.muted='[&#xf1dd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paste
        span.text-muted (alias)
        span.muted='[&#xf0ea;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pause
        span.muted='[&#xf04c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-paw
        span.muted='[&#xf1b0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pencil
        span.muted='[&#xf040;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pencil-square
        span.muted='[&#xf14b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pencil-square-o
        span.muted='[&#xf044;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-phone
        span.muted='[&#xf095;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-phone-square
        span.muted='[&#xf098;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-photo
        span.text-muted (alias)
        span.muted='[&#xf03e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-picture-o
        span.muted='[&#xf03e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pied-piper
        span.muted='[&#xf1a7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pied-piper-alt
        span.muted='[&#xf1a8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pied-piper-square
        span.text-muted (alias)
        span.muted='[&#xf1a7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pinterest
        span.muted='[&#xf0d2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-pinterest-square
        span.muted='[&#xf0d3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-plane
        span.muted='[&#xf072;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-play
        span.muted='[&#xf04b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-play-circle
        span.muted='[&#xf144;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-play-circle-o
        span.muted='[&#xf01d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-plus
        span.muted='[&#xf067;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-plus-circle
        span.muted='[&#xf055;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-plus-square
        span.muted='[&#xf0fe;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-plus-square-o
        span.muted='[&#xf196;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-power-off
        span.muted='[&#xf011;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-print
        span.muted='[&#xf02f;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-puzzle-piece
        span.muted='[&#xf12e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-qq
        span.muted='[&#xf1d6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-qrcode
        span.muted='[&#xf029;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-question
        span.muted='[&#xf128;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-question-circle
        span.muted='[&#xf059;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-quote-left
        span.muted='[&#xf10d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-quote-right
        span.muted='[&#xf10e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ra
        span.text-muted (alias)
        span.muted='[&#xf1d0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-random
        span.muted='[&#xf074;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rebel
        span.muted='[&#xf1d0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-recycle
        span.muted='[&#xf1b8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-reddit
        span.muted='[&#xf1a1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-reddit-square
        span.muted='[&#xf1a2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-refresh
        span.muted='[&#xf021;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-renren
        span.muted='[&#xf18b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-reorder
        span.text-muted (alias)
        span.muted='[&#xf0c9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-repeat
        span.muted='[&#xf01e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-reply
        span.muted='[&#xf112;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-reply-all
        span.muted='[&#xf122;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-retweet
        span.muted='[&#xf079;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rmb
        span.text-muted (alias)
        span.muted='[&#xf157;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-road
        span.muted='[&#xf018;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rocket
        span.muted='[&#xf135;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rotate-left
        span.text-muted (alias)
        span.muted='[&#xf0e2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rotate-right
        span.text-muted (alias)
        span.muted='[&#xf01e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rouble
        span.text-muted (alias)
        span.muted='[&#xf158;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rss
        span.muted='[&#xf09e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rss-square
        span.muted='[&#xf143;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rub
        span.muted='[&#xf158;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ruble
        span.text-muted (alias)
        span.muted='[&#xf158;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-rupee
        span.text-muted (alias)
        span.muted='[&#xf156;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-save
        span.text-muted (alias)
        span.muted='[&#xf0c7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-scissors
        span.muted='[&#xf0c4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-search
        span.muted='[&#xf002;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-search-minus
        span.muted='[&#xf010;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-search-plus
        span.muted='[&#xf00e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-send
        span.text-muted (alias)
        span.muted='[&#xf1d8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-send-o
        span.text-muted (alias)
        span.muted='[&#xf1d9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-share
        span.muted='[&#xf064;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-share-alt
        span.muted='[&#xf1e0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-share-alt-square
        span.muted='[&#xf1e1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-share-square
        span.muted='[&#xf14d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-share-square-o
        span.muted='[&#xf045;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-shield
        span.muted='[&#xf132;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-shopping-cart
        span.muted='[&#xf07a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sign-in
        span.muted='[&#xf090;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sign-out
        span.muted='[&#xf08b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-signal
        span.muted='[&#xf012;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sitemap
        span.muted='[&#xf0e8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-skype
        span.muted='[&#xf17e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-slack
        span.muted='[&#xf198;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sliders
        span.muted='[&#xf1de;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-smile-o
        span.muted='[&#xf118;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort
        span.muted='[&#xf0dc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-alpha-asc
        span.muted='[&#xf15d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-alpha-desc
        span.muted='[&#xf15e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-amount-asc
        span.muted='[&#xf160;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-amount-desc
        span.muted='[&#xf161;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-asc
        span.muted='[&#xf0de;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-desc
        span.muted='[&#xf0dd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-down
        span.text-muted (alias)
        span.muted='[&#xf0dd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-numeric-asc
        span.muted='[&#xf162;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-numeric-desc
        span.muted='[&#xf163;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sort-up
        span.text-muted (alias)
        span.muted='[&#xf0de;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-soundcloud
        span.muted='[&#xf1be;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-space-shuttle
        span.muted='[&#xf197;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-spinner
        span.muted='[&#xf110;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-spoon
        span.muted='[&#xf1b1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-spotify
        span.muted='[&#xf1bc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-square
        span.muted='[&#xf0c8;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-square-o
        span.muted='[&#xf096;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stack-exchange
        span.muted='[&#xf18d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stack-overflow
        span.muted='[&#xf16c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star
        span.muted='[&#xf005;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star-half
        span.muted='[&#xf089;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star-half-empty
        span.text-muted (alias)
        span.muted='[&#xf123;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star-half-full
        span.text-muted (alias)
        span.muted='[&#xf123;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star-half-o
        span.muted='[&#xf123;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-star-o
        span.muted='[&#xf006;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-steam
        span.muted='[&#xf1b6;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-steam-square
        span.muted='[&#xf1b7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-step-backward
        span.muted='[&#xf048;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-step-forward
        span.muted='[&#xf051;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stethoscope
        span.muted='[&#xf0f1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stop
        span.muted='[&#xf04d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-strikethrough
        span.muted='[&#xf0cc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stumbleupon
        span.muted='[&#xf1a4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-stumbleupon-circle
        span.muted='[&#xf1a3;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-subscript
        span.muted='[&#xf12c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-suitcase
        span.muted='[&#xf0f2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-sun-o
        span.muted='[&#xf185;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-superscript
        span.muted='[&#xf12b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-support
        span.text-muted (alias)
        span.muted='[&#xf1cd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-table
        span.muted='[&#xf0ce;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tablet
        span.muted='[&#xf10a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tachometer
        span.muted='[&#xf0e4;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tag
        span.muted='[&#xf02b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tags
        span.muted='[&#xf02c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tasks
        span.muted='[&#xf0ae;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-taxi
        span.muted='[&#xf1ba;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tencent-weibo
        span.muted='[&#xf1d5;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-terminal
        span.muted='[&#xf120;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-text-height
        span.muted='[&#xf034;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-text-width
        span.muted='[&#xf035;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-th
        span.muted='[&#xf00a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-th-large
        span.muted='[&#xf009;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-th-list
        span.muted='[&#xf00b;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-thumb-tack
        span.muted='[&#xf08d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-thumbs-down
        span.muted='[&#xf165;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-thumbs-o-down
        span.muted='[&#xf088;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-thumbs-o-up
        span.muted='[&#xf087;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-thumbs-up
        span.muted='[&#xf164;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-ticket
        span.muted='[&#xf145;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-times
        span.muted='[&#xf00d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-times-circle
        span.muted='[&#xf057;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-times-circle-o
        span.muted='[&#xf05c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tint
        span.muted='[&#xf043;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-toggle-down
        span.text-muted (alias)
        span.muted='[&#xf150;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-toggle-left
        span.text-muted (alias)
        span.muted='[&#xf191;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-toggle-right
        span.text-muted (alias)
        span.muted='[&#xf152;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-toggle-up
        span.text-muted (alias)
        span.muted='[&#xf151;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-trash-o
        span.muted='[&#xf014;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tree
        span.muted='[&#xf1bb;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-trello
        span.muted='[&#xf181;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-trophy
        span.muted='[&#xf091;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-truck
        span.muted='[&#xf0d1;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-try
        span.muted='[&#xf195;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tumblr
        span.muted='[&#xf173;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-tumblr-square
        span.muted='[&#xf174;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-turkish-lira
        span.text-muted (alias)
        span.muted='[&#xf195;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-twitter
        span.muted='[&#xf099;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-twitter-square
        span.muted='[&#xf081;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-umbrella
        span.muted='[&#xf0e9;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-underline
        span.muted='[&#xf0cd;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-undo
        span.muted='[&#xf0e2;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-university
        span.muted='[&#xf19c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-unlink
        span.text-muted (alias)
        span.muted='[&#xf127;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-unlock
        span.muted='[&#xf09c;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-unlock-alt
        span.muted='[&#xf13e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-unsorted
        span.text-muted (alias)
        span.muted='[&#xf0dc;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-upload
        span.muted='[&#xf093;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-usd
        span.muted='[&#xf155;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-user
        span.muted='[&#xf007;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-user-md
        span.muted='[&#xf0f0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-users
        span.muted='[&#xf0c0;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-video-camera
        span.muted='[&#xf03d;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-vimeo-square
        span.muted='[&#xf194;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-vine
        span.muted='[&#xf1ca;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-vk
        span.muted='[&#xf189;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-volume-down
        span.muted='[&#xf027;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-volume-off
        span.muted='[&#xf026;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-volume-up
        span.muted='[&#xf028;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-warning
        span.text-muted (alias)
        span.muted='[&#xf071;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-wechat
        span.text-muted (alias)
        span.muted='[&#xf1d7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-weibo
        span.muted='[&#xf18a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-weixin
        span.muted='[&#xf1d7;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-wheelchair
        span.muted='[&#xf193;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-windows
        span.muted='[&#xf17a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-won
        span.text-muted (alias)
        span.muted='[&#xf159;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-wordpress
        span.muted='[&#xf19a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-wrench
        span.muted='[&#xf0ad;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-xing
        span.muted='[&#xf168;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-xing-square
        span.muted='[&#xf169;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-yahoo
        span.muted='[&#xf19e;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-yen
        span.text-muted (alias)
        span.muted='[&#xf157;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-youtube
        span.muted='[&#xf167;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-youtube-play
        span.muted='[&#xf16a;]'
      .col-md-4.col-sm-6.col-lg-3
        i.fa.fa-fw 
        | fa-youtube-square
        span.muted='[&#xf166;]'

block footer
  p ♥ from the Yeoman team