doctype html
html.no-js
  block config
  include inc/header
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    .container
      .header
        block header
      block content
      .footer
        block footer
  include inc/footer